:root.theme-light {
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --shadow-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-text-color: #353430;
  --decorated-text-color: #353430;
  --section-title-color: #353430;
  --menu-color: #353430;
  --menu-hover-color: rgb(53 52 48 / 0.4);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --shadow-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --decorated-text-color: #353430;
    --section-title-color: #353430;
    --menu-color: #353430;
    --menu-hover-color: rgb(53 52 48 / 0.4);
  }

  .header__rec {
    display: none;
  }
}
